In [2]:
import pandas as pd

In [11]:
file_name= 'Energy Indicators.xls'

energy= pd.read_excel(file_name,skiprows= 5)
energy.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Last update: December 2015
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Choose a country from the following drop-down ...,NaN,NaN,Afghanistan
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
4,NaN,NaN,NaN,Petajoules,Gigajoules,%
5,NaN,NaN,Afghanistan,321,10,78.66928
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,website: http://unstats.un.org/unsd/ENVIRONMEN...
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
del energy["Unnamed: 0"]
del energy["Unnamed: 1"]

In [13]:
energy

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Last update: December 2015
0,NaN,NaN,NaN,NaN
1,Choose a country from the following drop-down ...,NaN,NaN,Afghanistan
2,NaN,NaN,NaN,NaN
3,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
4,NaN,Petajoules,Gigajoules,%
...,...,...,...,...
272,NaN,NaN,NaN,NaN
273,NaN,NaN,NaN,NaN
274,NaN,NaN,NaN,NaN
275,NaN,NaN,NaN,NaN
276,NaN,NaN,NaN,NaN

In [14]:
energy = pd.read_excel(file_name, skiprows=17, skipfooter=38)

In [17]:
energy

                    Unnamed: 2 Petajoules Gigajoules           %
0                  Afghanistan        321         10   78.669280
1                      Albania        102         35  100.000000
2                      Algeria       1959         51    0.551010
3               American Samoa        ...        ...    0.641026
4                      Andorra          9        121   88.695650
..                         ...        ...        ...         ...
222                   Viet Nam       2554         28   45.321520
223  Wallis and Futuna Islands          0         26    0.000000
224                      Yemen        344         13    0.000000
225                     Zambia        400         26   99.714670
226                   Zimbabwe        480         32   52.536120

[227 rows x 4 columns]

In [25]:
energy = energy.rename(columns = {'Unnamed: 2': 'Country', 'Petajoules': 'Energy Supply', 'Gigajoules' : 'Energy Supply per Capita', '%':'% Renewable'})
energy.head(20)

                Country  Energy Supply  Energy Supply per Capita  % Renewable
0           Afghanistan          321.0                      10.0    78.669280
1               Albania          102.0                      35.0   100.000000
2               Algeria         1959.0                      51.0     0.551010
3        American Samoa            NaN                       NaN     0.641026
4               Andorra            9.0                     121.0    88.695650
5                Angola          642.0                      27.0    70.909090
6              Anguilla            2.0                     136.0     0.000000
7   Antigua and Barbuda            8.0                      84.0     0.000000
8             Argentina         3378.0                      79.0    24.064520
9               Armenia          143.0                      48.0    28.236060
10                Aruba           12.0                     120.0    14.870690
11           Australia1         5386.0                     231.0    11.810810
12              Austria         1391.0                     164.0    72.452820
13           Azerbaijan          567.0                      60.0     6.384345
14              Bahamas           45.0                     118.0     0.000000
15              Bahrain          574.0                     425.0     0.000000
16           Bangladesh         1625.0                      10.0     1.966329
17             Barbados           19.0                      69.0     0.000000
18              Belarus         1142.0                     120.0     0.463389
19              Belgium         2338.0                     210.0     9.959739

In [26]:
import numpy as np
energy.replace(['-9999', '<NA>', 'NULL', '...', ' '], np.nan, inplace=True)
energy.head(20)

                Country  Energy Supply  Energy Supply per Capita  % Renewable
0           Afghanistan          321.0                      10.0    78.669280
1               Albania          102.0                      35.0   100.000000
2               Algeria         1959.0                      51.0     0.551010
3        American Samoa            NaN                       NaN     0.641026
4               Andorra            9.0                     121.0    88.695650
5                Angola          642.0                      27.0    70.909090
6              Anguilla            2.0                     136.0     0.000000
7   Antigua and Barbuda            8.0                      84.0     0.000000
8             Argentina         3378.0                      79.0    24.064520
9               Armenia          143.0                      48.0    28.236060
10                Aruba           12.0                     120.0    14.870690
11           Australia1         5386.0                     231.0    11.810810
12              Austria         1391.0                     164.0    72.452820
13           Azerbaijan          567.0                      60.0     6.384345
14              Bahamas           45.0                     118.0     0.000000
15              Bahrain          574.0                     425.0     0.000000
16           Bangladesh         1625.0                      10.0     1.966329
17             Barbados           19.0                      69.0     0.000000
18              Belarus         1142.0                     120.0     0.463389
19              Belgium         2338.0                     210.0     9.959739

In [51]:
replace_dict = {
    "Republic of Korea" : "South Korea",
    "United States of America20" : "United States",
    "United Kingdom of Great Britain and Northern Ireland19" : "United Kingdom",
    "China, Hong Kong Special Administrative Region3" : "Hong Kong",
    "Bolivia (Plurinational State of)" : "Bolivia",
    "Switzerland17" : "Switzerland",
    "China2" : "China",
    "Spain16" : "Spain",
    "Japan10" : "Japan",
    "Italy9" : "Italy",
    "France6" : "France",
    "Australia1" : "Australia",
    "Iran (Islamic Republic of)" : "Iran"
    
    
}

energy.replace({'Country': replace_dict}, inplace=True)

after_replacement = energy[energy['Country'].isin(replace_dict.values())]

after_replacement

            Country  Energy Supply  Energy Supply per Capita  % Renewable
11        Australia       5,386.00                    231.00        11.81
24          Bolivia         336.00                     32.00        31.48
42            China     127,191.00                     93.00        19.75
43        Hong Kong         585.00                     82.00         0.00
73           France      10,597.00                    166.00        17.02
98             Iran       9,172.00                    119.00         5.71
103           Italy       6,530.00                    109.00        33.67
105           Japan      18,984.00                    149.00        10.23
164     South Korea      11,007.00                    221.00         2.28
190           Spain       4,923.00                    106.00        37.97
197     Switzerland       1,113.00                    136.00        57.75
214  United Kingdom       7,920.00                    124.00        10.60
216   United States      90,838.00                    286.00        11.57

In [39]:
file_name2 = 'world_bank.csv' 
GDP = pd.read_csv(file_name2, skiprows=4)
GDP

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10,NaN

In [41]:
replace_dict2 = {
    'Korea, Rep.': 'South Korea',
    'Iran, Islamic Rep.': 'Iran',
    'Hong Kong SAR, China' : 'Hong Kong'
}
GDP.replace({'Country Name': replace_dict2}, inplace=True)

after_replacement2 = GDP[GDP['Country Name'].isin(replace_dict2.values())]

after_replacement2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
96,Hong Kong,HKG,GDP (current US$),NY.GDP.MKTP.CD,1.320797e+09,1.383682e+09,1.612346e+09,1.935298e+09,2.206466e+09,2.435079e+09,...,2.914600e+11,3.093856e+11,3.208603e+11,3.412733e+11,3.617311e+11,3.630746e+11,3.449431e+11,3.689114e+11,3.598386e+11,NaN
112,Iran,IRN,GDP (current US$),NY.GDP.MKTP.CD,4.199134e+09,4.426949e+09,4.693566e+09,4.928628e+09,5.379846e+09,6.197320e+09,...,4.603828e+11,4.082129e+11,4.579546e+11,4.866301e+11,3.279007e+11,2.836495e+11,2.397355e+11,3.590969e+11,3.885445e+11,NaN
126,South Korea,KOR,GDP (current US$),NY.GDP.MKTP.CD,3.958824e+09,2.417638e+09,2.814626e+09,3.988477e+09,3.459033e+09,3.120871e+09,...,1.484318e+12,1.465773e+12,1.500112e+12,1.623901e+12,1.724846e+12,1.651423e+12,1.644313e+12,1.810956e+12,1.665246e+12,NaN

In [43]:
file_name3 = 'scimago_journal.xlsx'
ScimEn = pd.read_excel(file_name3)
ScimEn.head(10)

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,360468,358777,3947871,2705774,10.95,308
1,2,United States,Northern America,199442,195042,3068926,881789,15.39,422
2,3,India,Asiatic Region,76103,74167,760964,280893,10.00,217
3,4,Japan,Asiatic Region,56249,55680,633294,136132,11.26,217
4,5,United Kingdom,Western Europe,52572,51156,909276,151672,17.30,267
5,6,Germany,Western Europe,47781,46767,641717,133693,13.43,230
6,7,Russian Federation,Eastern Europe,43567,43290,175721,79765,4.03,103
7,8,Canada,Northern America,39036,38276,787010,125333,20.16,263
8,9,Italy,Western Europe,35991,34424,529459,123042,14.71,192
9,10,South Korea,Asiatic Region,35294,35005,503147,87529,14.26,182

In [53]:
GDP = GDP.rename(columns={'Country Name': 'Country'})

years_of_interest = [str(year) for year in range(2006, 2016)]
GDP = GDP[['Country'] + years_of_interest]
merged_df = energy.merge(GDP, on='Country').merge(ScimEn, on='Country')
top_15_countries = ScimEn['Country'].head(15).tolist()
merged_df = merged_df[merged_df['Country'].isin(top_15_countries)]
pd.options.display.float_format = '{:,.2f}'.format
merged_df

,Country,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,...,2014,2015,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
9,Australia,"5,386.00",231.00,11.81,"747,907,432,136.60","854,427,259,166.21","1,055,686,110,665.53","928,629,769,751.88","1,148,569,537,284.62","1,398,456,161,407.85",...,"1,467,589,901,175.46","1,350,580,336,316.75",14,Pacific Region,25906,25237,495278,72475,19.12,212
24,Brazil,"12,149.00",59.00,69.65,"1,107,626,711,436.44","1,397,114,247,287.58","1,695,855,391,816.48","1,666,996,294,324.76","2,208,838,108,593.19","2,616,156,606,734.51",...,"2,456,043,766,063.50","1,802,211,999,555.59",15,Latin America,25887,25493,260540,60487,10.06,145
31,Canada,"10,431.00",296.00,61.95,"1,319,264,809,590.97","1,468,820,407,783.26","1,552,989,690,721.65","1,374,625,142,157.29","1,617,343,367,486.26","1,793,326,630,174.52",...,"1,805,749,878,439.94","1,556,508,816,217.14",8,Northern America,39036,38276,787010,125333,20.16,263
36,China,"127,191.00",93.00,19.75,"2,752,118,542,130.40","3,550,327,569,655.47","4,594,336,785,737.67","5,101,691,085,625.95","6,087,191,720,866.69","7,551,545,321,799.88",...,"10,475,624,783,235.60","11,061,573,199,439.70",1,Asiatic Region,360468,358777,3947871,2705774,10.95,308
54,France,"10,597.00",166.00,17.02,"2,320,536,221,304.70","2,660,591,246,211.77","2,930,303,780,828.12","2,700,887,366,932.03","2,645,187,882,116.73","2,865,157,541,994.19",...,"2,855,964,488,590.14","2,439,188,643,162.50",12,Western Europe,29351,28759,471469,79375,16.06,205
58,Germany,"13,261.00",165.00,17.90,"2,994,703,642,023.53","3,425,578,382,921.58","3,745,264,093,617.19","3,411,261,212,652.34","3,399,667,820,000.09","3,749,314,991,050.62",...,"3,889,093,051,023.45","3,357,585,719,351.56",6,Western Europe,47781,46767,641717,133693,13.43,230
71,India,"33,195.00",26.00,14.97,"940,259,888,792.14","1,216,736,448,906.29","1,198,895,147,694.77","1,341,888,016,988.57","1,675,615,502,766.20","1,823,051,829,894.55",...,"2,039,126,469,963.35","2,103,588,347,241.77",3,Asiatic Region,76103,74167,760964,280893,10.00,217
72,Iran,"9,172.00",119.00,5.71,"266,298,911,661.14","349,881,601,458.56","412,336,172,446.85","416,397,025,729.36","486,807,616,896.70","626,133,112,211.11",...,"460,382,791,488.63","408,212,917,871.72",11,Middle East,29776,29448,511199,150489,17.17,179
76,Italy,"6,530.00",109.00,33.67,"1,949,551,719,389.64","2,213,102,482,751.46","2,408,655,348,718.59","2,199,928,804,118.63","2,136,099,955,236.72","2,294,994,296,589.51",...,"2,162,009,615,996.51","1,836,637,711,060.55",9,Western Europe,35991,34424,529459,123042,14.71,192
78,Japan,"18,984.00",149.00,10.23,"4,601,662,661,030.07","4,579,749,785,984.82","5,106,679,413,137.57","5,289,493,734,900.39","5,759,071,769,013.11","6,233,147,172,341.35",...,"4,896,994,405,353.29","4,444,930,651,964.18",4,Asiatic Region,56249,55680,633294,136132,11.26,217
126,South Korea,"11,007.00",221.00,2.28,"1,053,216,892,422.02","1,172,614,134,912.05","1,047,339,041,903.85","943,941,876,218.74","1,144,066,965,324.49","1,253,223,044,718.99",...,"1,484,318,219,633.63","1,465,773,245,547.15",10,Asiatic Region,35294,35005,503147,87529,14.26,182
128,Russian Federation,"30,709.00",214.00,17.29,"989,932,059,220.67","1,299,703,459,799.96","1,660,848,058,303.11","1,222,645,887,209.32","1,524,916,698,232.71","2,045,922,727,569.78",...,"2,059,241,582,146.11","1,363,482,179,761.17",7,Eastern Europe,43567,43290,175721,79765,4.03,103
140,Spain,"4,923.00",106.00,37.97,"1,260,398,977,831.76","1,474,002,579,820.00","1,631,863,493,552.34","1,491,472,923,706.64","1,422,108,199,783.37","1,480,710,495,710.13",...,"1,371,820,537,888.60","1,196,156,971,279.69",13,Western Europe,27880,27272,515485,88803,18.49,202
157,United Kingdom,"7,920.00",124.00,10.60,"2,709,978,165,671.04","3,092,996,468,387.23","2,931,683,721,186.75","2,417,565,709,974.49","2,491,397,494,467.95","2,666,403,005,061.42",...,"3,065,223,279,583.79","2,934,857,946,213.47",5,Western Europe,52572,51156,909276,151672,17.30,267
158,United States,"90,838.00",286.00,11.57,"13,815,586,948,000.00","14,474,226,905,000.00","14,769,857,911,000.00","14,478,064,934,000.00","15,048,964,444,000.00","15,599,728,123,000.00",...,"17,550,680,174,000.00","18,206,020,741,000.00",2,Northern America,199442,195042,3068926,881789,15.39,422

In [54]:
merged_df = merged_df.set_index('Country')

In [55]:
merged_df

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,...,2014,2015,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,,
Australia,"5,386.00",231.00,11.81,"747,907,432,136.60","854,427,259,166.21","1,055,686,110,665.53","928,629,769,751.88","1,148,569,537,284.62","1,398,456,161,407.85","1,546,952,690,139.99",...,"1,467,589,901,175.46","1,350,580,336,316.75",14,Pacific Region,25906,25237,495278,72475,19.12,212
Brazil,"12,149.00",59.00,69.65,"1,107,626,711,436.44","1,397,114,247,287.58","1,695,855,391,816.48","1,666,996,294,324.76","2,208,838,108,593.19","2,616,156,606,734.51","2,465,228,293,862.62",...,"2,456,043,766,063.50","1,802,211,999,555.59",15,Latin America,25887,25493,260540,60487,10.06,145
Canada,"10,431.00",296.00,61.95,"1,319,264,809,590.97","1,468,820,407,783.26","1,552,989,690,721.65","1,374,625,142,157.29","1,617,343,367,486.26","1,793,326,630,174.52","1,828,366,481,521.60",...,"1,805,749,878,439.94","1,556,508,816,217.14",8,Northern America,39036,38276,787010,125333,20.16,263
China,"127,191.00",93.00,19.75,"2,752,118,542,130.40","3,550,327,569,655.47","4,594,336,785,737.67","5,101,691,085,625.95","6,087,191,720,866.69","7,551,545,321,799.88","8,532,185,615,746.62",...,"10,475,624,783,235.60","11,061,573,199,439.70",1,Asiatic Region,360468,358777,3947871,2705774,10.95,308
France,"10,597.00",166.00,17.02,"2,320,536,221,304.70","2,660,591,246,211.77","2,930,303,780,828.12","2,700,887,366,932.03","2,645,187,882,116.73","2,865,157,541,994.19","2,683,671,716,967.19",...,"2,855,964,488,590.14","2,439,188,643,162.50",12,Western Europe,29351,28759,471469,79375,16.06,205
Germany,"13,261.00",165.00,17.90,"2,994,703,642,023.53","3,425,578,382,921.58","3,745,264,093,617.19","3,411,261,212,652.34","3,399,667,820,000.09","3,749,314,991,050.62","3,527,143,188,785.16",...,"3,889,093,051,023.45","3,357,585,719,351.56",6,Western Europe,47781,46767,641717,133693,13.43,230
India,"33,195.00",26.00,14.97,"940,259,888,792.14","1,216,736,448,906.29","1,198,895,147,694.77","1,341,888,016,988.57","1,675,615,502,766.20","1,823,051,829,894.55","1,827,637,579,584.79",...,"2,039,126,469,963.35","2,103,588,347,241.77",3,Asiatic Region,76103,74167,760964,280893,10.00,217
Iran,"9,172.00",119.00,5.71,"266,298,911,661.14","349,881,601,458.56","412,336,172,446.85","416,397,025,729.36","486,807,616,896.70","626,133,112,211.11","644,035,512,198.99",...,"460,382,791,488.63","408,212,917,871.72",11,Middle East,29776,29448,511199,150489,17.17,179
Italy,"6,530.00",109.00,33.67,"1,949,551,719,389.64","2,213,102,482,751.46","2,408,655,348,718.59","2,199,928,804,118.63","2,136,099,955,236.72","2,294,994,296,589.51","2,086,957,656,821.60",...,"2,162,009,615,996.51","1,836,637,711,060.55",9,Western Europe,35991,34424,529459,123042,14.71,192
Japan,"18,984.00",149.00,10.23,"4,601,662,661,030.07","4,579,749,785,984.82","5,106,679,413,137.57","5,289,493,734,900.39","5,759,071,769,013.11","6,233,147,172,341.35","6,272,362,996,105.03",...,"4,896,994,405,353.29","4,444,930,651,964.18",4,Asiatic Region,56249,55680,633294,136132,11.26,217
South Korea,"11,007.00",221.00,2.28,"1,053,216,892,422.02","1,172,614,134,912.05","1,047,339,041,903.85","943,941,876,218.74","1,144,066,965,324.49","1,253,223,044,718.99","1,278,427,634,342.59",...,"1,484,318,219,633.63","1,465,773,245,547.15",10,Asiatic Region,35294,35005,503147,87529,14.26,182
Russian Federation,"30,709.00",214.00,17.29,"989,932,059,220.67","1,299,703,459,799.96","1,660,848,058,303.11","1,222,645,887,209.32","1,524,916,698,232.71","2,045,922,727,569.78","2,208,293,528,673.97",...,"2,059,241,582,146.11","1,363,482,179,761.17",7,Eastern Europe,43567,43290,175721,79765,4.03,103
Spain,"4,923.00",106.00,37.97,"1,260,398,977,831.76","1,474,002,579,820.00","1,631,863,493,552.34","1,491,472,923,706.64","1,422,108,199,783.37","1,480,710,495,710.13","1,324,750,738,725.00",...,"1,371,820,537,888.60","1,196,156,971,279.69",13,Western Europe,27880,27272,515485,88803,18.49,202
United Kingdom,"7,920.00",124.00,10.60,"2,709,978,165,671.04","3,092,996,468,387.23","2,931,683,721,186.75","2,417,565,709,974.49","2,491,397,494,467.95","2,666,403,005,061.42","2,706,340,967,030.68",...,"3,065,223,279,583.79","2,934,857,946,213.47",5,Western Europe,52572,51156,909276,151672,17.30,267
United States,"90,838.00",286.00,11.57,"13,815,586,948,000.00","14,474,226,905,000.00","14,769,857,911,000.00","14,478,064,934,000.00","15,048,964,444,000.00","15,599,728,123,000.00","16,253,972,230,000.00",...,"17,550,680,174,000.00","18,206,020,741,000.00",2,Northern America,199442,195042,3068926,881789,15.39,422

In [57]:
desired_columns = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
merged_df = merged_df[desired_columns]
merged_df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14,25906,25237,495278,72475,19.12,212,"5,386.00",231.00,11.81,"747,907,432,136.60","854,427,259,166.21","1,055,686,110,665.53","928,629,769,751.88","1,148,569,537,284.62","1,398,456,161,407.85","1,546,952,690,139.99","1,576,329,690,003.93","1,467,589,901,175.46","1,350,580,336,316.75"
Brazil,15,25887,25493,260540,60487,10.06,145,"12,149.00",59.00,69.65,"1,107,626,711,436.44","1,397,114,247,287.58","1,695,855,391,816.48","1,666,996,294,324.76","2,208,838,108,593.19","2,616,156,606,734.51","2,465,228,293,862.62","2,472,819,362,259.00","2,456,043,766,063.50","1,802,211,999,555.59"
Canada,8,39036,38276,787010,125333,20.16,263,"10,431.00",296.00,61.95,"1,319,264,809,590.97","1,468,820,407,783.26","1,552,989,690,721.65","1,374,625,142,157.29","1,617,343,367,486.26","1,793,326,630,174.52","1,828,366,481,521.60","1,846,597,421,834.98","1,805,749,878,439.94","1,556,508,816,217.14"
China,1,360468,358777,3947871,2705774,10.95,308,"127,191.00",93.00,19.75,"2,752,118,542,130.40","3,550,327,569,655.47","4,594,336,785,737.67","5,101,691,085,625.95","6,087,191,720,866.69","7,551,545,321,799.88","8,532,185,615,746.62","9,570,470,577,244.86","10,475,624,783,235.60","11,061,573,199,439.70"
France,12,29351,28759,471469,79375,16.06,205,"10,597.00",166.00,17.02,"2,320,536,221,304.70","2,660,591,246,211.77","2,930,303,780,828.12","2,700,887,366,932.03","2,645,187,882,116.73","2,865,157,541,994.19","2,683,671,716,967.19","2,811,876,903,329.05","2,855,964,488,590.14","2,439,188,643,162.50"
Germany,6,47781,46767,641717,133693,13.43,230,"13,261.00",165.00,17.90,"2,994,703,642,023.53","3,425,578,382,921.58","3,745,264,093,617.19","3,411,261,212,652.34","3,399,667,820,000.09","3,749,314,991,050.62","3,527,143,188,785.16","3,733,804,649,549.06","3,889,093,051,023.45","3,357,585,719,351.56"
India,3,76103,74167,760964,280893,10.00,217,"33,195.00",26.00,14.97,"940,259,888,792.14","1,216,736,448,906.29","1,198,895,147,694.77","1,341,888,016,988.57","1,675,615,502,766.20","1,823,051,829,894.55","1,827,637,579,584.79","1,856,721,494,834.64","2,039,126,469,963.35","2,103,588,347,241.77"
Iran,11,29776,29448,511199,150489,17.17,179,"9,172.00",119.00,5.71,"266,298,911,661.14","349,881,601,458.56","412,336,172,446.85","416,397,025,729.36","486,807,616,896.70","626,133,112,211.11","644,035,512,198.99","492,775,566,435.18","460,382,791,488.63","408,212,917,871.72"
Italy,9,35991,34424,529459,123042,14.71,192,"6,530.00",109.00,33.67,"1,949,551,719,389.64","2,213,102,482,751.46","2,408,655,348,718.59","2,199,928,804,118.63","2,136,099,955,236.72","2,294,994,296,589.51","2,086,957,656,821.60","2,141,924,094,298.57","2,162,009,615,996.51","1,836,637,711,060.55"
Japan,4,56249,55680,633294,136132,11.26,217,"18,984.00",149.00,10.23,"4,601,662,661,030.07","4,579,749,785,984.82","5,106,679,413,137.57","5,289,493,734,900.39","5,759,071,769,013.11","6,233,147,172,341.35","6,272,362,996,105.03","5,212,328,181,166.18","4,896,994,405,353.29","4,444,930,651,964.18"
South Korea,10,35294,35005,503147,87529,14.26,182,"11,007.00",221.00,2.28,"1,053,216,892,422.02","1,172,614,134,912.05","1,047,339,041,903.85","943,941,876,218.74","1,144,066,965,324.49","1,253,223,044,718.99","1,278,427,634,342.59","1,370,795,199,976.18","1,484,318,219,633.63","1,465,773,245,547.15"
Russian Federation,7,43567,43290,175721,79765,4.03,103,"30,709.00",214.00,17.29,"989,932,059,220.67","1,299,703,459,799.96","1,660,848,058,303.11","1,222,645,887,209.32","1,524,916,698,232.71","2,045,922,727,569.78","2,208,293,528,673.97","2,292,470,104,248.18","2,059,241,582,146.11","1,363,482,179,761.17"
Spain,13,27880,27272,515485,88803,18.49,202,"4,923.00",106.00,37.97,"1,260,398,977,831.76","1,474,002,579,820.00","1,631,863,493,552.34","1,491,472,923,706.64","1,422,108,199,783.37","1,480,710,495,710.13","1,324,750,738,725.00","1,355,579,535,912.56","1,371,820,537,888.60","1,196,156,971,279.69"
United Kingdom,5,52572,51156,909276,151672,17.30,267,"7,920.00",124.00,10.60,"2,709,978,165,671.04","3,092,996,468,387.23","2,931,683,721,186.75","2,417,565,709,974.49","2,491,397,494,467.95","2,666,403,005,061.42","2,706,340,967,030.68","2,786,315,215,249.95","3,065,223,279,583.79","2,934,857,946,213.47"
United States,2,199442,195042,3068926,881789,15.39,422,"90,838.00",286.00,11.57,"13,815,586,948,000.00","14,474,226,905,000.00","14,769,857,911,000.00","14,478,064,934,000.00","15,048,964,444,000.00","15,599,728,123,000.00","16,253,972,230,000.00","16,843,190,993,000.00","17,550,680,174,000.00","18,206,020,741,000.00"

In [58]:
def answer_one():
    return merged_df
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14,25906,25237,495278,72475,19.12,212,"5,386.00",231.00,11.81,"747,907,432,136.60","854,427,259,166.21","1,055,686,110,665.53","928,629,769,751.88","1,148,569,537,284.62","1,398,456,161,407.85","1,546,952,690,139.99","1,576,329,690,003.93","1,467,589,901,175.46","1,350,580,336,316.75"
Brazil,15,25887,25493,260540,60487,10.06,145,"12,149.00",59.00,69.65,"1,107,626,711,436.44","1,397,114,247,287.58","1,695,855,391,816.48","1,666,996,294,324.76","2,208,838,108,593.19","2,616,156,606,734.51","2,465,228,293,862.62","2,472,819,362,259.00","2,456,043,766,063.50","1,802,211,999,555.59"
Canada,8,39036,38276,787010,125333,20.16,263,"10,431.00",296.00,61.95,"1,319,264,809,590.97","1,468,820,407,783.26","1,552,989,690,721.65","1,374,625,142,157.29","1,617,343,367,486.26","1,793,326,630,174.52","1,828,366,481,521.60","1,846,597,421,834.98","1,805,749,878,439.94","1,556,508,816,217.14"
China,1,360468,358777,3947871,2705774,10.95,308,"127,191.00",93.00,19.75,"2,752,118,542,130.40","3,550,327,569,655.47","4,594,336,785,737.67","5,101,691,085,625.95","6,087,191,720,866.69","7,551,545,321,799.88","8,532,185,615,746.62","9,570,470,577,244.86","10,475,624,783,235.60","11,061,573,199,439.70"
France,12,29351,28759,471469,79375,16.06,205,"10,597.00",166.00,17.02,"2,320,536,221,304.70","2,660,591,246,211.77","2,930,303,780,828.12","2,700,887,366,932.03","2,645,187,882,116.73","2,865,157,541,994.19","2,683,671,716,967.19","2,811,876,903,329.05","2,855,964,488,590.14","2,439,188,643,162.50"
Germany,6,47781,46767,641717,133693,13.43,230,"13,261.00",165.00,17.90,"2,994,703,642,023.53","3,425,578,382,921.58","3,745,264,093,617.19","3,411,261,212,652.34","3,399,667,820,000.09","3,749,314,991,050.62","3,527,143,188,785.16","3,733,804,649,549.06","3,889,093,051,023.45","3,357,585,719,351.56"
India,3,76103,74167,760964,280893,10.00,217,"33,195.00",26.00,14.97,"940,259,888,792.14","1,216,736,448,906.29","1,198,895,147,694.77","1,341,888,016,988.57","1,675,615,502,766.20","1,823,051,829,894.55","1,827,637,579,584.79","1,856,721,494,834.64","2,039,126,469,963.35","2,103,588,347,241.77"
Iran,11,29776,29448,511199,150489,17.17,179,"9,172.00",119.00,5.71,"266,298,911,661.14","349,881,601,458.56","412,336,172,446.85","416,397,025,729.36","486,807,616,896.70","626,133,112,211.11","644,035,512,198.99","492,775,566,435.18","460,382,791,488.63","408,212,917,871.72"
Italy,9,35991,34424,529459,123042,14.71,192,"6,530.00",109.00,33.67,"1,949,551,719,389.64","2,213,102,482,751.46","2,408,655,348,718.59","2,199,928,804,118.63","2,136,099,955,236.72","2,294,994,296,589.51","2,086,957,656,821.60","2,141,924,094,298.57","2,162,009,615,996.51","1,836,637,711,060.55"
Japan,4,56249,55680,633294,136132,11.26,217,"18,984.00",149.00,10.23,"4,601,662,661,030.07","4,579,749,785,984.82","5,106,679,413,137.57","5,289,493,734,900.39","5,759,071,769,013.11","6,233,147,172,341.35","6,272,362,996,105.03","5,212,328,181,166.18","4,896,994,405,353.29","4,444,930,651,964.18"
South Korea,10,35294,35005,503147,87529,14.26,182,"11,007.00",221.00,2.28,"1,053,216,892,422.02","1,172,614,134,912.05","1,047,339,041,903.85","943,941,876,218.74","1,144,066,965,324.49","1,253,223,044,718.99","1,278,427,634,342.59","1,370,795,199,976.18","1,484,318,219,633.63","1,465,773,245,547.15"
Russian Federation,7,43567,43290,175721,79765,4.03,103,"30,709.00",214.00,17.29,"989,932,059,220.67","1,299,703,459,799.96","1,660,848,058,303.11","1,222,645,887,209.32","1,524,916,698,232.71","2,045,922,727,569.78","2,208,293,528,673.97","2,292,470,104,248.18","2,059,241,582,146.11","1,363,482,179,761.17"
Spain,13,27880,27272,515485,88803,18.49,202,"4,923.00",106.00,37.97,"1,260,398,977,831.76","1,474,002,579,820.00","1,631,863,493,552.34","1,491,472,923,706.64","1,422,108,199,783.37","1,480,710,495,710.13","1,324,750,738,725.00","1,355,579,535,912.56","1,371,820,537,888.60","1,196,156,971,279.69"
United Kingdom,5,52572,51156,909276,151672,17.30,267,"7,920.00",124.00,10.60,"2,709,978,165,671.04","3,092,996,468,387.23","2,931,683,721,186.75","2,417,565,709,974.49","2,491,397,494,467.95","2,666,403,005,061.42","2,706,340,967,030.68","2,786,315,215,249.95","3,065,223,279,583.79","2,934,857,946,213.47"
United States,2,199442,195042,3068926,881789,15.39,422,"90,838.00",286.00,11.57,"13,815,586,948,000.00","14,474,226,905,000.00","14,769,857,911,000.00","14,478,064,934,000.00","15,048,964,444,000.00","15,599,728,123,000.00","16,253,972,230,000.00","16,843,190,993,000.00","17,550,680,174,000.00","18,206,020,741,000.00"

In [61]:
def answer_two():
    Top15 = answer_one()
    avgGDP = Top15[years_of_interest].mean(axis=1).sort_values(ascending=False).head(15)
    return avgGDP
answer_two()

Country
United States        15,704,029,340,300.00
China                 6,927,706,520,148.28
Japan                 5,239,642,077,099.60
Germany               3,523,341,675,097.46
United Kingdom        2,780,276,197,282.68
France                2,691,336,579,143.64
Italy                 2,142,986,168,498.18
Brazil                1,988,889,078,193.37
Russian Federation    1,666,745,628,516.50
Canada                1,616,359,264,592.76
India                 1,602,352,072,666.71
Spain                 1,400,886,445,421.01
South Korea           1,221,371,625,499.97
Australia             1,207,512,888,804.88
Iran                    456,326,122,839.82
dtype: float64

In [63]:
def answer_three():
    Top15 = answer_one()
    avgGDP = answer_two()
    country_sixth = avgGDP.index[5]
    gdp_change = Top15.loc[country_sixth, '2015'] - Top15.loc[country_sixth, '2006']
    return gdp_change
answer_three()

118652421857.7998

In [67]:
def answer_four():
    Top15 = answer_one()
    Top15['Citation Ratio'] = Top15['Self-citations'] / Top15['Citations']
    country_max_ratio = Top15['Citation Ratio'].idxmax()
    max_ratio = Top15['Citation Ratio'].max()
    result = (country_max_ratio, max_ratio)
    return result
answer_four()

('China', 0.6853754846599598)

In [71]:
def answer_five():
    Top15 = answer_one()
    Top15['Population estimate (in millions)'] = Top15['Energy Supply'] / Top15 ['Energy Supply per Capita']
    third_populous = Top15.sort_values(by='Population estimate (in millions)', ascending=False).iloc[2].name
    return third_populous
answer_five()

'United States'

In [72]:
def answer_six():
    Top15 = answer_one()
    Top15['Citable documents per Capita'] = Top15['Citable documents'] / Top15['Population estimate (in millions)']
    correlation = Top15['Citable documents per Capita'].corr(Top15['Energy Supply per Capita'], method='pearson')
    return correlation
answer_six()

0.711434252733121

In [73]:
def answer_seven():
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15['Continent'] = Top15.index.to_series().map(ContinentDict)
    grouped = Top15.groupby('Continent')
    result_df = grouped['Population estimate (in millions)'].agg(size='size', sum='sum', mean='mean', std='std')
    return result_df
answer_seven()

               size      sum   mean    std
Continent
Asia              5 2,898.67 579.73 679.10
Australia         1    23.32  23.32    NaN
Europe            6   457.93  76.32  34.65
North America     2   352.86 176.43 199.67
South America     1   205.92 205.92    NaN